<h1>編輯書籍</h1>

<% if @book.errors.any? %>
<ul>
<% @book.erroes.full_messages.each do |message| %>
<li><%= message %></li>
<% end %>
</ul>
<% end %>


<% form_for(@book) do |f| %>
<%= f.label '書籍名稱'%>
<%= f.text_field :name %>
<br>
<%= f.label '書籍價格'%>
<%= f.text_field :price %>
<br>
<%= f.submit '送出'%>
<% end %>